In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps

from api_keys import g_key

In [2]:
cities_df = pd.read_csv('output_data/cities.csv')
cities_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,campo maior,-4.8278,-42.1686,74.61,92,100,3.27,BR,1611977778
1,1,santa clarita,34.3917,-118.5426,48.20,76,75,1.32,US,1611977638
2,2,puerto ayora,-0.7393,-90.3518,77.00,95,38,8.99,EC,1611977778
3,3,bintulu,3.1667,113.0333,82.40,89,40,5.75,MY,1611977778
4,4,buckeye,33.3703,-112.5838,50.00,92,25,5.77,US,1611977739

In [3]:
humidity = cities_df['Humidity'].astype('float')
maxhumidity = humidity.max()
locations = cities_df[['Lat','Lng']]

In [4]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False,max_intensity=maxhumidity,point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
narrowed_cities_df = cities_df[(cities_df['Max Temp']>70)&(cities_df['Max Temp']<80)&(cities_df['Cloudiness']==0)&(cities_df['Wind Speed']<10)]
narrowed_cities_df = narrowed_cities_df.drop(columns=['Unnamed: 0']).reset_index()
narrowed_cities_df

,index,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,105,edd,13.9297,41.6925,74.30,38,0,8.21,ER,1611977798
1,167,pisco,-13.7000,-76.2167,71.60,73,0,6.91,PE,1611977629
2,175,mildura,-34.2000,142.1500,77.00,47,0,8.05,AU,1611977810
3,406,jiangmen,22.5833,113.0833,72.00,67,0,1.01,CN,1611977851
4,408,kpandae,8.4689,-0.0113,77.76,71,0,0.81,GH,1611977851
5,439,conakry,9.5380,-13.6773,77.09,77,0,6.02,GN,1611977856
6,551,bubaque,11.2833,-15.8333,78.24,65,0,9.66,GW,1611977875
7,579,santa maria,-29.6842,-53.8069,75.20,83,0,4.61,BR,1611977879

In [6]:
hotel_list = []
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for i in range(len(narrowed_cities_df)):
    lat = narrowed_cities_df.at[i,'Lat']
    lng = narrowed_cities_df.at[i,'Lng']
    params = {
        'location': f'{lat},{lng}',
        'radius': 5000,
        'types': 'hotel',
        'key': g_key
    }
    response = requests.get(base_url, params=params)
    hotel = response.json()
    try:
        hotel_list.append(hotel['results'][0]['name'])
    except:
        hotel_list.append('')

In [7]:
narrowed_cities_df['Hotel Name'] = hotel_list
narrowed_cities_df.replace('',float('NaN'),inplace=True)
hotel_df = narrowed_cities_df.dropna(how='any')
hotel_df.reset_index()
narrowed_cities_df

,index,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,105,edd,13.9297,41.6925,74.30,38,0,8.21,ER,1611977798,Idi
1,167,pisco,-13.7000,-76.2167,71.60,73,0,6.91,PE,1611977629,Pisco
2,175,mildura,-34.2000,142.1500,77.00,47,0,8.05,AU,1611977810,Mildura
3,406,jiangmen,22.5833,113.0833,72.00,67,0,1.01,CN,1611977851,Jiangmen
4,408,kpandae,8.4689,-0.0113,77.76,71,0,0.81,GH,1611977851,Kpandai
5,439,conakry,9.5380,-13.6773,77.09,77,0,6.02,GN,1611977856,Conakry
6,551,bubaque,11.2833,-15.8333,78.24,65,0,9.66,GW,1611977875,Bubaque
7,579,santa maria,-29.6842,-53.8069,75.20,83,0,4.61,BR,1611977879,Santa Maria

In [8]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in narrowed_cities_df.iterrows()]
location1 = narrowed_cities_df[['Lat','Lng']]
markers = gmaps.marker_layer(location1,info_box_content=hotel_info)
humidity = cities_df['Humidity'].astype('float')
maxhumidity = humidity.max()
location2 = cities_df[['Lat','Lng']]
heat_layer = gmaps.heatmap_layer(location2, weights=humidity,dissipating=False,max_intensity=maxhumidity,point_radius=3)

fig = gmaps.figure()
fig.add_layer(heat_layer)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))